.calendar-heading {

    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 7vw;
    line-height: 116px;
    margin-bottom: 5%;
    color: #FFFFFF;
    background: #1626FF;
    background: radial-gradient(circle farthest-side at top right, #1626FF 0%, #CF00AC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.day {

    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5vw;
    color: #FFFFFF;
}

.timeline-main {

    margin: 20px 0px;
    width: 85vw;
    border-radius: 15px;
    text-align: center;
    align-self: center;

}

.gantt-chart {

    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    position: center;
    height: 300px;
    border-radius: 15px;
    background: #FFFFFF;
    background: repeating-linear-gradient(
     to right, #acacac, #fffefe 1px, #acacac 1px, #acacac 10%
    );

}
.day2 {

    margin: 50px 0;

}

.Hour {

    display: flex;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    font-family: "Play";
    font-size: 15px;
    font-weight: 700;
    background: #0047AB;
    border: #FF2D00 1px solid;
    border-bottom: none;

}

.H1 {

    border-top-left-radius: 15px;

}

.H10 {

    border-top-right-radius: 15px;

}

.hour-para {

    margin: 5px;

}

.Event {

    border-radius: 10px;
    margin: 3px 3px;
    border: #d900ff 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s;

}

.Event1 {
    
    background: #ffdddd;
    grid-row: 2;
    grid-column:1/span 3;

}

.Event2 {

    background: #d6ffd8; 
    grid-row: 2; 
    grid-column: 4 / span 3;

}

.Event3 {

    background: #cad0ff; 
    grid-row: 3; 
    grid-column: 5 / span 3;

}

.Event4 {

    background: #ffcaf2; 
    grid-row: 4; 
    grid-column: 7/ span 3;

}

.Event5 {

    background: #fffbca;
    grid-row: 3; 
    grid-column: 2/ span 1;

}

.Event6 {

    background: #fffbca; 
    grid-row: 2; 
    grid-column: 8/ span 3;

}

.Event7 {
    
    background: #ffdddd;
    grid-row: 2;
    grid-column:1/span 2;

}

.Event8 {

    background: #d6ffd8; 
    grid-row: 2; 
    grid-column: 3 / span 3;

}

.Event9 {

    background: #cad0ff; 
    grid-row: 3; 
    grid-column: 4 / span 3;

}

.Event10 {

    background: #ffcaf2; 
    grid-row: 4; 
    grid-column: 7/ span 3;

}

.Event11 {

    background: #fffbca;
    grid-row: 4; 
    grid-column: 2/ span 2;

}

.Event12 {

    background: #fffbca; 
    grid-row: 2; 
    grid-column: 8/ span 3;

}

.Event1-active {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(116, 255, 186, 0.756), 0 0 20px rgba(116, 255, 186, 0.756), 0 0 40px rgba(116, 255, 186, 0.756), 0 0 80px rgba(116, 255, 186, 0.756), 0 0 160px rgba(116, 255, 186, 0.756)

}

.Event1:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(116, 255, 186, 0.756), 0 0 20px rgba(116, 255, 186, 0.756), 0 0 40px rgba(116, 255, 186, 0.756), 0 0 80px rgba(116, 255, 186, 0.756), 0 0 160px rgba(116, 255, 186, 0.756)

}

.Event2:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 221, 255, 0.832), 0 0 20px rgba(0, 221, 255, 0.832), 0 0 40px rgba(0, 221, 255, 0.832), 0 0 80px rgba(0, 221, 255, 0.832), 0 0 160px rgba(0, 221, 255, 0.832)

}

.Event3:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(92, 90, 247), 0 0 20px rgb(92, 90, 247), 0 0 40px rgb(92, 90, 247), 0 0 80px rgb(92, 90, 247), 0 0 160px rgb(92, 90, 247)

}

.Event4:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 116, 229, 0.756), 0 0 20px rgba(255, 116, 229, 0.756), 0 0 40px rgba(255, 116, 229, 0.756), 0 0 80px rgba(255, 116, 229, 0.756), 0 0 160px rgba(255, 116, 229, 0.756)
}

.Event5:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 147, 64, 0.832), 0 0 20px rgba(255, 147, 64, 0.832), 0 0 40px rgba(255, 147, 64, 0.832), 0 0 80px rgba(255, 147, 64, 0.832), 0 0 160px rgba(255, 147, 64, 0.832)

}

.Event6:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 147, 64, 0.832), 0 0 20px rgba(255, 147, 64, 0.832), 0 0 40px rgba(255, 147, 64, 0.832), 0 0 80px rgba(255, 147, 64, 0.832), 0 0 160px rgba(255, 147, 64, 0.832)
    
}

@media screen and (max-width: 830px) {
    .calendar-heading {

        font-size: 15vw;
        -webkit-text-stroke: 1px #FF2D00;

    }

    .timeline-main{
    
        width: 100vw;
        overflow-x: scroll;
        padding: 0px;
        border-radius:15px;
        
      }
      
      .gantt-chart{
    
        width: 1000px;
        overflow-x: scroll;
        
      }
}