.calendar-heading {

    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 116px;
    margin-bottom: 5%;
    background: -webkit-linear-gradient(-86deg, #6d99f7 5%, #8c8dc4 53%, #0044ff 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #111111;

}

.day {

    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5vw;
    color: #FFFFFF;
}

.timeline-main {

    margin: 20px 0px;
    width: 85vw;
    border-radius: 15px;
    text-align: center;
    align-self: center;

}

.gantt-chart {

    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    position: center;
    height: 300px;
    border-radius: 15px;
    background: #FFFFFF;
    background: repeating-linear-gradient(
     to right, #2a0055, #1c002e 1px, #1c002e 1px, #2a0055 10%
    );

}
.day2 {

    margin: 50px 0;

}

.Hour {

    display: flex;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    font-family: "Play";
    font-size: 15px;
    font-weight: 700;
    background: #0047AB;
    border: #FF2D00 1px solid;
    border-bottom: none;

}

.H1 {

    border-top-left-radius: 15px;

}

.H10 {

    border-top-right-radius: 15px;

}

.hour-para {

    margin: 5px;

}

.Event {

    color: #fff;
    background: #080808;
    border-radius: 10px;
    margin: 3px 3px;
    border: #ffffff 1px solid; /*#d900ff*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s;

}

.Event1 {
    
    grid-row: 2;
    grid-column:1/span 3;

}

.Event2 {

    grid-row: 2; 
    grid-column: 4 / span 3;

}

.Event3 {

    grid-row: 3; 
    grid-column: 5 / span 3;

}

.Event4 {
 
    grid-row: 4; 
    grid-column: 7/ span 3;

}

.Event5 {

    grid-row: 3; 
    grid-column: 2/ span 1;

}

.Event6 {

    grid-row: 2; 
    grid-column: 8/ span 3;

}

.Event7 {
    
    grid-row: 2;
    grid-column:1/span 2;

}

.Event8 {

    grid-row: 2; 
    grid-column: 3 / span 3;

}

.Event9 {

    grid-row: 3; 
    grid-column: 4 / span 3;

}

.Event10 {

    grid-row: 4; 
    grid-column: 7/ span 3;

}

.Event11 {

    grid-row: 4; 
    grid-column: 2/ span 2;

}

.Event12 {
 
    grid-row: 2; 
    grid-column: 8/ span 3;

}

.Event1-active {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(116, 255, 186, 0.756), 0 0 20px rgba(116, 255, 186, 0.756), 0 0 40px rgba(116, 255, 186, 0.756), 0 0 80px rgba(116, 255, 186, 0.756), 0 0 160px rgba(116, 255, 186, 0.756)

}

.Event1:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(116, 255, 186, 0.756), 0 0 20px rgba(116, 255, 186, 0.756), 0 0 40px rgba(116, 255, 186, 0.756), 0 0 80px rgba(116, 255, 186, 0.756), 0 0 160px rgba(116, 255, 186, 0.756)

}

.Event2:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 221, 255, 0.832), 0 0 20px rgba(0, 221, 255, 0.832), 0 0 40px rgba(0, 221, 255, 0.832), 0 0 80px rgba(0, 221, 255, 0.832), 0 0 160px rgba(0, 221, 255, 0.832)

}

.Event3:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(92, 90, 247), 0 0 20px rgb(92, 90, 247), 0 0 40px rgb(92, 90, 247), 0 0 80px rgb(92, 90, 247), 0 0 160px rgb(92, 90, 247)

}

.Event4:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 116, 229, 0.756), 0 0 20px rgba(255, 116, 229, 0.756), 0 0 40px rgba(255, 116, 229, 0.756), 0 0 80px rgba(255, 116, 229, 0.756), 0 0 160px rgba(255, 116, 229, 0.756)
}

.Event5:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 147, 64, 0.832), 0 0 20px rgba(255, 147, 64, 0.832), 0 0 40px rgba(255, 147, 64, 0.832), 0 0 80px rgba(255, 147, 64, 0.832), 0 0 160px rgba(255, 147, 64, 0.832)

}

.Event6:hover {

    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 147, 64, 0.832), 0 0 20px rgba(255, 147, 64, 0.832), 0 0 40px rgba(255, 147, 64, 0.832), 0 0 80px rgba(255, 147, 64, 0.832), 0 0 160px rgba(255, 147, 64, 0.832)
    
}

@media screen and (max-width: 830px) {
    .calendar-heading {

        font-size: 3rem;
        -webkit-text-stroke: 3px transparent;
        /* -webkit-text-stroke: 1px #FF2D00; */

    }

    .timeline-main{
    
        width: 100vw;
        overflow-x: scroll;
        padding: 0px;
        border-radius:15px;
        
      }
      
      .gantt-chart{
    
        width: 1000px;
        overflow-x: scroll;
        
      }
}