.events-p{
  /* margin: 0 150px; */
  font-size:20px;
  color: white;
  padding: 10px;
  padding:40px 40px;
  background: linear-gradient(to right,#050F20,#091d3f, #050F20) padding-box, linear-gradient(to bottom, red, #00000000) border-box;
  border-radius: 3.125em;
  border: 2px solid transparent;
}

.events_Info {
  margin: 4% 10%;
}

.event-card{
  background-color: red;
  /* height: 300px;
  width: 200px; */
  margin: 10px;
}

.card-main-container{
  margin: 5% 5%;
  /* display: flex; */
  justify-content: space-around;
}



/* Card Style */



.card {
  width: 330px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
  margin:3% 2%;
  }
  
  .card img {
    width: 350px;
    height: 500px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  left: 0;
  /* margin: 10px 0; */
  }
  
  .data {
  
  width: 100%;
  height: 100%;
  top: 100%;
  position: absolute;
  left: 0;
  background: #1f3d4740;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  color: #fff;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.5s;
  border-radius: 15px;

  }
  
  .card:hover .data{
    top: 0;
  }

  .card:hover{
    border-radius: 25px;
    border: 8px solid #9B00FF;
  }
  
  .card-title {
  
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  
  }
  
  .card-subtitle {
  
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  
  }
  
  .card-info {
  
  font-size: 16px;
  line-height: 25px;
  margin: 30px 0;
  font-weight: 400;
  
  }
  
  .btn {
  
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  .card-btn {
  
  color: #1f3d47;
  background: #8fabba;
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;

  
  }

