.footer-main {

    position: relative;
    width: 100%;
    height: 379px;
    top: 250vh;

}

.footer-anantya-year {

    position: absolute;
    left: 5%;

}

.footer-anantya {

    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;

}

.footer-year {

    position: absolute;
    font-family: 'Urbanist';
    font-style: normal;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;

}

.useFulLinks {

    position: absolute;
    width: 174.33px;
    height: 73px;
    left: 589.5px;
    top: 3%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.useFulLinks-1 {

    display: flex;
    justify-content: start;
    gap: 50px;

}

.useFulLinks-2 {

    display: flex;
    justify-content: start;
    gap: 50px;

}

.design-with-love {

    position: absolute;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 0%;
    color: #FFFFFF;
    left: 50%;
    top: 70%;
    transform: translate(-50%);

}