.sponsors-main-div {

    margin-top: 5%;

}
.sponsors-heading {

    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    color: #FFFFFF;

}

/* 

.about-section {

    width: 100%;
    height: fit-content;
    transition: 1s;
    border-radius: 20px;
    margin-top: 10%;

}

.grid-main {

    display: grid;
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
    
}

.about-bg {

    object-fit: contain;
    position: relative;
    border-radius: 20px;
    grid-row: 1;
    grid-column: 1;

}

.about-bg-img {

    border-radius: 20px;
    display: block;

}

.about-bgm-img {

    border-radius: 20px;
    display: none;

}

.heading-cont {

    grid-row: 1;
    grid-column: 1;

}

.about-heading {

    box-sizing: border-box;
    position: relative;
    top: 5%;
    grid-row: 1;
    grid-column: 1;

}

.about-anantya {

    color: #FFFFFF;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    max-width: fit-content;
    position: relative;
    left: 10%;
    top: 5%;
    
}

.about-desc-div {

    box-sizing: border-box;
    position: relative;
    top: 10%;
    height: fit-content;
    

}

.about-desc-content {

    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    max-width: fit-content;
    position: relative;
    margin: 0px 10%;

}

@media screen and (max-width: 800px) {

    .about-anantya {

        font-size: 10vw;
        left: 0;

    }

    .about-desc-content {

        font-size: 3.3vw;
        margin: 0;

    }

    .about-bg-img {

        display: none;

    }

    .about-bgm-img {

        display: block;
        
    }
}

/* .about {

    padding: 20px;
    justify-content: center;
    align-items: center;

}

.about-section {

    margin-top: -120px;
    margin-bottom: 50px;
    border-radius: 20px;

}

.astro-png {

    width: 200px;
    z-index: 2;
    margin-left: 80%;
    animation: mover 0.8s infinite  alternate;
    user-select: none;

}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

.about-bg {

    object-fit: contain;
    border-radius: 20px;

}

.about-desc {

    color: #FFFFFF;
    width: 85vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background: url(../assets/seeing1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;

}

.anantya-head {

    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    margin-left: 7rem;
    margin-top: 2rem;

}

.anantya-desc {

    position: relative;
    left: 50px;
    padding: 20px 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

}

@media screen and (max-width: 850px) {
    
    .about {

        flex-direction: row;
        
    }
    .about-section {

        margin-top: -50px;

    }

    .astro-png {

        width: 90px;

    }

    .anantya-head {

        margin: 0;
        margin-left: 15px;
        font-size: 70px;

    }

    .anantya-desc {

        position: inherit;
        padding: 20px;

    }

    .about-desc {

        background: linear-gradient(242.86deg, #9B00FF 0.9%, rgba(5, 25, 55, 0) 100%, #051937 100%);
        border: #051937 2.5px solid;
        flex-direction: row;

    }
} */ 