canvas {
  overflow: visible;
  overflow-clip-margin: initial;
}

.threeD {
  height: 100%;
  width: fit-content;
  background: transparent;
}

@media screen and (max-width: 700px) {
  .threeD {
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .threeD {
    height: 100%;
  }
}
